body {
    font-family: Arial, Helvetica, sans-serif;
}

#main_title_h1 {
    color: black;
    display: inline;
    margin-left: 15px;
    vertical-align: middle;
}
#logo_image{
    vertical-align: middle;
    border: 3px solid black;
}
#first_div{
    margin-left: 35%;
}
#call{
    margin-left: 50px;
}
#nav_bar_image{
    vertical-align: middle;
    padding-top: 10px;
    height: 20px;
    width: 20px;
}
a{
    color: inherit;
    text-decoration: none;
}

